table {
    width: 400px; 
    margin-bottom: 15px;
    border-collapse: collapse;
    position: relative;
}

thead > tr > th {
   position: sticky;
   top: -1px;;
   background-color:rgb(135, 150, 150) ;
}

caption {
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;

}

td, th {
    border: 1px solid black;
    padding: 8px;
}

thead , tfoot{
    background-color:rgb(135, 150, 150);
    color: rgb(255, 255, 255);
}

tbody > tr:nth-child(2n) {
    background-color: aquamarine;
    font-weight: bold;
}

.num {
    text-align: right;
}

