@charset "UTF-8";


body {    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    color: white;
    background-color: red;
    padding-left: 15px;
    border-radius: 15px;    
}

#principal {
    background-color: white;
    padding: 0px;
    color: rgb(235, 30, 30);
    text-align: center;
}

.basico {
    background-color: rgba(216, 199, 199, 0.274);
    border-radius: 15px;
    padding-left: 15px;        
    color:blue
    }
.intermediario {
    background-color: rgb(216, 199, 199, 0.274);
    border-radius: 15px;
    padding-left: 15px;
    color: blueviolet;

}
.avançado {
    background-color: rgb(216, 199, 199, 0.274);
    border-radius: 15px;
    padding-left: 15px;
    color:green
}