h1 {
    color: red;
}

h2 {
    color: red ;
}

@media (min-width:400px) and (max-width:410px) {
    h1 { color: green;}
    h2 { color:green;}
    
}

@media (min-width:411px) and (max-width:420px) {
    h1 { color:yellow;}
    h2 { color:yellow;}
    
}

@media ( orientation: landscape) {
    h1 { color:blue;}
    h2 { color:blue;}
}