

body{ background-color: rgb(148, 133, 133); 
    text-align: center;
}

h1{ color:rgb(8, 8, 8);
background-color: aqua;

}

h2 { color:rgb(245, 149, 6);
}

p {color:blanchedalmond;

}

li{
    margin-top: 20px;
    
}


   