* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
background-image: linear-gradient(to bottom, #E0D5AD, #5B584F );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #5B584F; 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F79E6B;
    text-align: center;
    text-shadow: 1px 1px 2px #ac6f4b;
}

h2 {
    color: #92A78C;
}

p {
    text-align: justify;
}




