@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
   --font1:Verdana, Geneva, Tahoma, sans-serif ;
   --font3: "Sriracha", serif;
   --font2: "Passero One", sans-serif;
}

body {
    mim height: 100vh;
}


header  {
    padding-bottom:50px ;
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1 {
    padding-top: 50px;
    font-family: var(--font2);
    text-align: center;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



p {
    font-family: var(--font3);
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
}

section.normal {
    background-color: white;
}

section.img {
    color: white;
    background-color:black ;
    
}

section.img > p {
    background-color:rgba(53, 28, 28, 0.582);
    display: inline-block;

    
}


footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 10px;
    text-align: center;
}






 