@charset "UTF-8";

@font-face {
    font-family:'maiden';
    src: url('../maiden.ttf') format('truetype');
    font-weight: normal;    
}

* {
    margin: 0px;
    padding: 0px;
}

body { 
    
    
    background-color: darkgray;
}

header > p{
    
    color: rgb(238, 75, 75);
}

main {

    background-color: rgb(117, 126, 123);    
    text-align: center; 
    margin: auto;
    margin-bottom: 20px;
    min-width:300px;
    max-width:1000px;     
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);

}

main img {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
}
 
h1 {    
    font-family:'maiden'; 

}

h2 {
    color: color: rgb(238, 75, 75);
    background-color: rgba(0, 0, 0, 0.493);
    background-size: auto;    
    border-radius: 15px;
    padding: 15px;    
}

h3{
    color: rgb(5, 5, 5);
    font-family:'maiden';
}

p {
    margin-bottom: 30px;
    margin-top: 20px;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: red;
    
    
}

a:hover {
    background-color: rgb(59, 27, 88);
    color: white;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
}

